#title{
  background-color: #ff4c68;
  color: #fff;
}

/*iphone immage*/
.iphone-immage{
  width: 60%;
  transform:rotate(25deg);
  position: absolute;
  right: 30%;
}
#features{
  padding:100px;
  font-family: "Montserrat-Bold 700";
  text-align: center;
  background: #fff;
 position: relative;
 z-index: 1;
}
h1 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}
h2 {
  font-family: 'Montserrat-Bold 700';
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat-Bold 700';
}
.container-fluid{
  padding: 3% 15% 9%;
}
body{
  font-family: 'Montserrat-Bold 700', sans-serif;
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar{
    padding:0 0 4.5rem;
}

.nav-item{
  font-family: 'Ubuntu', sans-serif;
  padding: 0 18px;
  font-size: 1.5rem;
  font-weight: lighter;

}

.download-button{
  margin: 5% 3% 0 0;
}



/*container*/



#color{
  color: #8f8f8f;
}
.feature-box{
  text-align: center;
  padding: 5%;
}
.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}
/* testimionals */

#testimonials {
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}
.carousel-item{
  padding: 7% 15%;
}
.testimonial-immage {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#pricing {
  padding:100px;
}
.pricing-column {
  padding: 3% 2%;
  text-align: center;
}
p {
    font-family: 'Montserrat';
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 3%;
  color: #fff;
  font-family: 'Montserrat-Bold 700';
  font-size: 3rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
  padding: 3%;
  font-family: 'Ubuntu';
}

@media (max-width:1028px) {
  #title{
    text-align: center;
  }
  .iphone-immage{
    position: static;
    transform: rotate(0);
  }
}
.footer{
  padding: 10px;
}
